<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-cross-origin">
    <script>//<![CDATA[
      var s = false;
      function l() {
        setTimeout(f, 10000);
        if (document.referrer) {
          try {
            var pm = /(^|&|\?)px=([^&]*)(&|$)/i;
            var px = window.location.href.match(pm);
            var rs = document.referrer;
            if (px != null) {
              if (rs.match(pm))
                rs = rs.replace(pm, "$1px=" + px[2] + "$3");
              else if (rs.indexOf("?") != -1)
                rs = rs + "&px=" + px[2];
              else
                rs = rs + "?px=" + px[2];
            }
            history.replaceState({}, "Bing", rs);
            window.addEventListener("pageshow", function(e) { if (e.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) window.location.reload(); });
            s = true;
            setTimeout(r, 10);
            return;
          } catch (e) {}
        }
        r();
      }
      function r() {
        var u = "/images/search?q=indeed.png%20icon%20black%20and%20white&FORM=IQFRBA&id=428CB0D5FD26DD8851E7375A7F555BB22449643C";
        if (s)
          window.location.href = u;
        else
          window.location.replace(u);
      }
      function f() {
        document.getElementById("fb").style.display = "block";
      }
      //]]>
    </script>
  </head>
  <body onload="l()">
    <div id="fb" style="display: none">
      Please <a href="https://www.bing.com/ck/a?!&&p=a7ba1517061994acbb4c9785ef29d40414d8c00e5e640fb6f173c0bd44495f13JmltdHM9MTc0NTE5MzYwMA&ptn=3&ver=2&hsh=4&fclid=1c7d95f2-c2ec-6771-25b4-81d9c31b6691&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbmRlZWQucG5nJTIwaWNvbiUyMGJsYWNrJTIwYW5kJTIwd2hpdGUmRk9STT1JUUZSQkEmaWQ9NDI4Q0IwRDVGRDI2REQ4ODUxRTczNzVBN0Y1NTVCQjIyNDQ5NjQzQw&ntb=F">click here</a> if the page does not redirect automatically ...
    </div>
  </body>
</html>